
#skill-python {
    background-color: #3870a180;
}

#skill-javascript {
    background-color: #efd61d80;
}

#skill-java {
    background-color: #fb9b2580;
}

#skill-sql {
    background-color: #2075bb80;
}

#skill-git {
    background-color: #ef513380;
}

#skill-vscode {
    background-color: #007acd80;
}

#skill-jetbrains {
    background-color: #00000070;
}

#skill-terminal {
    background-color: #7aafde80;
}

#skill-markdown {
    background-color: #00000070;
}

#skill-github {
    background-color: #3395db80;
}

#skill-gitlab {
    background-color: #df442980;
}

#skill-linux {
    background-color: #f7d43280;
}

#skill-windows {
    background-color: #157ad680;
}

#skill-react {
    background-color: #03d7fd80;
}

#skill-haskell {
    background-color: #63568780;
}

#skill-nodejs {
    background-color: #8dc40080;
}

#skill-ruby {
    background-color: #a5323c80;
}

#skill-html {
    background-color: #ef682b80;
}

#skill-php {
    background-color: #7779b280;
}

#skill-c{
    background-color: #669bd380;
}

#skill-sklearn {
    background-color: #f5984380;
}

#skill-numpy {
    background-color: #0219a280;
}

#skill-micrograd {
    background-color: #f0e25680;
}
